
/* ======================
	Flex Container
======================== */


.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-nav {
  padding: 10px 20px;
  text-align: center;
}

.flex-item {
  padding: 5px;
  width: 290px;
  margin-top: 10px;
  text-align: center;
}

.flex-item img {
	width: 100%;
}

.col {
	text-align: center;
}

.col img {
	width: 75%;
}

.row-reverse {
	display: flex;
	flex-direction: column-reverse;
}

.bottom-nav,
.return-link {
	display: flex;
}

.bottom-nav {
	flex-direction: column;
	align-items: center;
	-webkit-flex-flow: row wrap;
	justify-content: space-between;
}

/* =======================
	Media Queries
========================= */

@media (min-width: 568px) {

	.main-header,
	.main-nav,
	.row {
		display: flex;
	}

	.main-header {
		flex-direction: column;
		align-items: center;
	}

	.row-reverse {
		flex-direction: row;
	}

	.col {
		flex: 1;
	}

	.col img {
		width: 16em;
	}

	.primary {
		flex: 2;
	}

	.flex-container {
		width: 95%;
		margin: 0 auto;
	}

	.flex-item {
		padding: 0;
	  	width: 350px;
	  	height: 375px;
	  	font-size: 1.02em;
	}

	.bottom-links {
		display: flex;
	}

	.return-link {
		display: none;
	}

	h4 {
		padding-left: 0;
	}

	.item {
		flex-direction: row;
		justify-content: space-between;
	}

}

@media (min-width: 956px) {

	.main-header {
		flex-direction: row;
		justify-content: space-between;
	}

	.flex-nav {
		padding-left: 40px;
		padding-right: 0;
	}

	.flex-item {
		width: 285px;
		height: 325px;
	}

	.col img {
		width: 22em;
	}

}