

body {
	font-family: 'Open Sans', sans-serif;
	background: #fafafa;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

h2 {
	font-size: 14px;
	padding-top: 40px;
	padding-bottom: 20px;
	text-align: center;
	text-transform: uppercase;
}

h3 {
	font-weight: normal;
}

li {
	list-style: none;
	display: block;
}

nav li {
	text-transform: uppercase;
}

ul {
	padding: 0;
	text-align: center;
}

p {
	color: #777;
	text-align: center;
	font-size: 16px;
	line-height: 1.45;
	margin: 0 auto;
}

.wrap {
	min-height: calc(100vh - 89px);
}

.container {
	width: 100%;
}


/* =====================
	Navigation
======================== */

.name {
	font-size: 1.5em;
	text-align: center;
	margin: 20px 0 30px 0;
}

.main-nav li {
	background: #fff;
	margin-top: 5px;
}

/* item is in footer */
.name a,
.main-nav a {
	color: #2F4F4F;
	text-decoration: none; 
}

	.main-nav a {
		background: #fff;
		font-size: .9em;
		text-transform: uppercase;
		font-weight: bold;
	}
	
	.name a:hover,
	.main-nav a:hover {
		color: #808080;
	}

.main-header,
.row {
	width: 90%;
	margin: 0 auto;
}

.tagline {
	font-size: 1.4em;
}


/* =====================
	About Me
======================= */

.row {
	padding-bottom: 40px;
	flex: 1;
}

.col img {
	margin-top: 25px;
	margin-bottom: 25px;
}

/* =====================
	Portfolio 
======================= */

.portfolio {
	background: #fff;
}

.flex-item p {
	color: #333;
	font-size: .9em;
	line-height: 1.45;
}

.p-item {
	width: 90%;
}

/* =====================
	Contact
======================= */

.contact {
	padding-bottom: 15px;
}

.p-contact {
	width: 95%;
	margin-top: 15px;
}

.contact-info {
	margin: 30px 0 10px 0;
}

/* =====================
	Footer
======================= */

footer {
	width: 90%;
	margin: 0 auto;
	padding-bottom: 15px;
}

.bottom-links {
	display: none;
}

h4 {
	font-size: .85em;
}

.item a {
	color: #333;
	font-size: .8em;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	padding-left: 30px;
}

.item a:hover {
		color: #808080;
	}

/* ==================================
	This applies from 320px onwards
===================================== */

@media (min-width: 768px) {

	.main-header {
		margin-top: 30px;
	}

	.name {
		margin: 0;
	}

	.main-nav li, .main-nav a {
		background: none;
	}

	p {
		font-size: 20px;
	}

	.container {
		margin: 40px auto;
	}

	.row {
		padding-bottom: 0;
	}

	.p-item {
		width: 78%;
	}

	.col p {
		text-align: left;
	}

	.col img {
		margin: 0;
	}

	.contact p {
		width: 75%;
	}

}

@media (min-width: 1024px) {
	.portfolio,
	footer {
		width: 92%;
/* 		max-width: 1024px; */
	}

	.main-header,
	.row {
		width: 86%;
	}

	.p-item {
		width: 95%;
	}

	.col p {
		padding-right: 30px;
	}

	.secondary {

	}

	.contact p {
		width: 60%;
	}

	.container {
		margin: 0 auto;
		padding-top: 15px;
		padding-bottom: 40px;
	}

}
